{% extends 'base.html' %}
{% load static %}

{% block title %}Projects List{% endblock %}


{% block content %}
<div class="container">
  <h1>ShareSplitter Configuration</h1>
  <div class="row">
    <div id="sharechart" style="width: 900px; height: 500px;"></div>


    <div class="col-md-8 col-12">

      <table id="projTable" class="table table-striped">
        <tr>
          <th colspan="1">Projects</th>
          <th> Cash multiplier</th>
          <th> Non cash multiplier</th>
          <th></th>
        </tr>
        {% for proj in projects %}
        <tr id="proj-{{proj.id}}">
          <td class="projName projData" name="name">{{proj.name}}</td>
          <td class="projName projData" name="name">{{proj.cash_multiplier}}</td>
          <td class="projName projData" name="name">{{proj.non_cash_multiplier}}</td>
          <td id="buttons{{user.id}}">
            <button class="btn btn-success form-control" onClick="getInstance({{proj.id}})" data-toggle="modal"
              data-target="#modalEdit" )>
              <i class="bi bi-pencil"></i>
            </button>
          </td>
          <td>
            <button class="btn btn-danger form-control" onClick="deleteInstance({{proj.id}}, `{{proj.name}}`)"
              data-bs-toggle="modal" data-bs-target="#modalDelete">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </table>
      <button type="button" class=" btn btn-primary form-control" data-bs-toggle="modal" data-bs-target="#modalCreate">
        New Project
      </button>
    </div>
  </div>
</div>


{% url 'shareconf:proj_create' as url_create %}
{% url 'shareconf:proj_delete' '0000' as url_delete %}
{% include "atoms/modals/modal_create.html" with form=form title="Create Project" url_create=url_create%}
{% include "atoms/modals/modal_delete.html" with form=form title="Delete Project" url_delete=url_delete%}


{% endblock %}



{% block javascript %}
<script type="text/javascript">
  var url_edit = '{% url "shareconf:form" "0000" %}'
</script>

<script type="text/javascript">
  var users_data = [['Name', 'Slices']];
  {% for user in users %}
  users_data.push(['{{user.name}}', parseFloat('{{user.shares}}')]);
  {% endfor %}
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{% static 'js/shareconf/sharechart.js' %}"></script>
{% endblock javascript %}