{% extends 'base.html' %}
{% load static %}

{% block title %}Users List{% endblock %}

{% block content %}
<div class="container">
  <h1>Users</h1>
  <div class="row justify-content-center">

    <div class="col-12 justify-content-center">
      <div class="table-responsive">

        <table id="userTable" class="table table-striped">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Job Title</th>
            <th>Year Salary</th>
            <th colspan="3">Slices</th>
          </tr>
          {% for user in users %}
          <tr id="user-{{user.id}}">
            <td class="userName userData" name="name">{{user.name}}</td>
            <td class="userEmail userData" name="email">{{user.email}}</td>
            <td class="userJobTitle userData" name="jobTitle">{{user.jobTitle}}</td>
            <td class="userYearSalary userData" name="yearSalary">{{user.yearSalary}}</td>
            <td name="slices">{{user.slices}}</td>
            <td id="buttons{{user.id}}">
              <button class="btn btn-success form-control" onClick="getUserForm({{user.id}})" data-toggle="modal"
                data-target="#myModal" )>
                <i class="bi bi-pencil"></i>
              </button>
            </td>
            <td>
              <button class="btn btn-danger form-control" onClick="deleteUser({{user.id}}, `{{user.email}}`)"
                data-bs-toggle="modal" data-bs-target="#modalUserDelete">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
      {% include "atoms/pagination.html" with is_paginated=is_paginated page_obj=page_obj paginator=paginator%}

      <button type="button" class=" btn btn-primary form-control" data-bs-toggle="modal"
        data-bs-target="#modalUserCreate">
        New User
      </button>
      <br>

      <a href='{% url "users:log_users" %}'>Check log</a>
    </div>
  </div>
</div>




{% include "users/modals/user_modal_create.html" with form=form %}
{% include "users/modals/user_modal_delete.html" with form=form %}

<div id="modalsContainer">
</div>

{% endblock %}



{% block javascript %}
<script type="text/javascript">
  var url_user_form = '{% url "users:form" "0000" %}'
</script>
<script src="{% static 'js/shareusers/userslist.js' %}"></script>
{% endblock javascript %}