{% extends 'base.html' %}
{% load static %}

{% block title %}Users List{% endblock %}

{% block content %}
<div class="container">
  <h1>Users</h1>
  <div class="row">

    <div class="col-md-8">

      <table id="userTable" class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Job Title</th>
          <th>Year Salary</th>
          <th colspan="3">Slices</th>
        </tr>
        {% for user in users %}
        <tr id="user-{{user.id}}">
          <td class="userName userData" name="name">{{user.name}}</td>
          <td class="userEmail userData" name="email">{{user.email}}</td>
          <td class="userJobTitle userData" name="jobTitle">{{user.jobTitle}}</td>
          <td class="userYearSalary userData" name="yearSalary">{{user.yearSalary}}</td>
          <td name="slices">{{user.slices}}</td>
          <td align="center">
            <button class="btn btn-success form-control" onClick="editUser({{user.id}})" data-toggle="modal"
              data-target="#myModal" )">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </td>
          <td align="center">
            <button class="btn btn-danger form-control" onClick="deleteUser({{user.id}})">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
        {% endfor %}
      </table>
      <button type="button" class="btn btn-primary form-control" data-bs-toggle="modal" data-bs-target="#userFormModal">
        New User
      </button>
      <br>

      <a href='{% url "users:log_users" %}'>Check log</a>
    </div>
  </div>
</div>





{% include "users/user_form_modal.html" with form=form, %}

{% endblock %}



{% block javascript %}
<script type="text/javascript">
  var var_url_user_create = '{% url "users:user_create" %}';
  var var_url_user_delete = '{% url "users:user_delete" %}';
  var var_url_user_update = '{% url "users:user_update" %}'
</script>
<script src="{% static 'js/shareusers/userslist.js' %}"></script>
{% endblock javascript %}