{% extends 'base.html' %}
{% load static %}

{% block title %}Users List{% endblock %}

{% block content %}
<div class="container">
    <h1>Users</h1>
    <div class="row">

      <div class="col-md-8">

        <table id="logTable" class="table table-striped">
          <tr>
            <th>Date</th>
            <th>Type</th>
            <th>User</th>
            <th>Description</th>

          </tr>
          {% for log in object_list %}
          <tr id="log-{{log.id}}">
              <td class="logdate logData" name="date">{{log.date}}</td>
              <td class="logType logData" name="type">{{log.type}}</td>
              <td class="logUser logData" name="user">{{log.user}}</td>
              <td class="logdetails logData" name="details">{{log.details}}</td>
          </tr>
          {% endfor %}
        </table>

      </div>
    </div>
  </div>
  {% endblock %}
