{% extends 'base.html' %}
{% load static %}

{% block title %}Contribution List{% endblock %}
f
{% block content %}
<div class="container">
  <h1>Contributions</h1>
  <div class="row justify-content-center">

    <div class="col-12 justify-content-center">
      <div class="table-responsive">
        <table id="userTable" class="table table-striped">
          <tr>
            <th>Team Member</th>
            <th>Type of Contrib</th>
            <th>Project</th>
            <th>Amount (€)</th>
            <th>Hours Spent</th>
            <th>Date</th>
            <th>Details</th>
            <th colspan="3">Slices</th>
          </tr>
          {% for contrib in contributions %}
          <tr id="contrib-{{contrib.id}}">
            <td name="name">{{contrib.user}}</td>
            <td name="contribType">{{contrib.contribType}}</td>
            <td name="project">{{contrib.project}}</td>
            <td name="value">{% if contrib.amount %} {{contrib.amount}} € {% endif %}</td>
            <td name="hours">{% if contrib.hours %} {{contrib.hours}} h {% endif %}</td>
            <td name="date">{{contrib.date}}</td>
            <td name="details">{{contrib.details}}</td>
            <td name="shares">{{contrib.shares}}</td>
            <td align="center">
              <button class="btn btn-danger form-control" onClick="deleteContrib({{contrib.id}})">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>
          </tr>
          {% endfor %}
        </table>

      </div>
      {% include "atoms/pagination.html" with is_paginated=is_paginated page_obj=page_obj paginator=paginator%}
      <button type="button" class=" btn btn-primary form-control" data-bs-toggle="modal"
        data-bs-target="#modalCreateDynamic" click="hideLoadingShowModal(`modalContentCreate`, `modalInnerLoading`)">
        New Contribution
      </button>
    </div>
  </div>


  {% url 'sharecontributions:contrib_create' as url_create %}
  {% url 'sharecontributions:contrib_delete' '0000' as url_delete %}
  {% include "atoms/modals/modal_create_dynamic.html" with form=form title="Create new contribution" url_create=url_create%}
  {% include "atoms/modals/modal_delete.html" with form=form title="Delete contribution" url_delete=url_delete%}

  <div id="editModalContainer">
  </div>
  {% endblock %}



  {% block javascript %}
  <script type="text/javascript">
    var url_edit = '{% url "shareconf:form" "0000" %}'
    var urlUpdateForm = '{% url "sharecontributions:contrib_form_update" %}'
  </script>
  <script defer src="{% static 'js/utils/dynamic_form.js' %}"></script>

  {% endblock javascript %}
