{% load static %}



<div class="modal fade" id="modalUserDelete" tabindex="-1" aria-labelledby="labelUserDelete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalUserDeleteTitle">Delete
                    user {{user}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formDelete" action="{% url  'users:user_delete' '0000' %}" method="POST">
                {% csrf_token %}
            </form>
            <div class="modal-footer d-flex justify-content-center ">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-danger" type="submit" form="formDelete"
                    onclick="hideActiveModalShowLoading(`modalUserDelete`)">Delete</button>
            </div>
        </div>
    </div>
</div>